@using Desafio_BackEnd.WebAPP.Models.Notificacao
@model NotificacaoViewModel
@{
    ViewData["Title"] = "Notificacoes";
}

<h1>Notificacoes</h1>
@if (Model != null && Model.Notificacoes.Count > 0)
{
    <table class="table">
        <thead class="thead">
            <tr>
                <th style="display:none;">Id</th>
                <th>Pedido</th>
                @if (Model.IsUserAdmin)
                {
                    <th>Entregador</th>
                }
                <th>Data</th>
                <th>Valor</th>
                @if (!Model.IsUserAdmin)
                {
                    <th>Ações</th>
                }
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var notificacao in Model.Notificacoes)
            {
                <tr>
                    <td style="display:none;">@notificacao.Id</td>
                    <td>@notificacao.PedidoId</td>
                    @if (Model.IsUserAdmin)
                    {
                        <td>@notificacao.EntregadorNome</td>
                    }
                    <td>@notificacao.Data.ToString("dd/MM/yyyy")</td>
                    <td>R$ @notificacao.Valor</td>
                    @if (!Model.IsUserAdmin)
                    {
                        <td>
                            <button class="btn btn-primary" onclick="accept('@notificacao.PedidoId', '@notificacao.EntregadorId')">Aceitar</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Nenhuma notificacao encontrada...</h3>
}

@section scripts {
    <script>
        function accept(pedidoId, entregadoId) {
            var formData = new FormData();

            formData.append('PedidoId', pedidoId);
            formData.append('Situacao', 'Aceito');
            formData.append('EntregadorId', entregadoId);

            $.ajax({
                url: '@Url.Action("UpdateSitacao", "Pedido")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    alert(result.message);
                    window.location.href = '@Url.Action("Index", "Home")';
                },
                error: function (xhr, status, error) {
                    console.error('Erro ao cadastrar o entregador:', error);
                }
            });
        }
    </script>
}