@using Desafio_BackEnd.WebAPP.Models.Moto
@model List<MotoViewModel>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th style="display:none;">Id</th>
                <th>Ano</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Alugada</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var moto in Model)
            {
                <tr>
                    <td style="display:none;">@moto.Id</td>
                    <td>@moto.Ano</td>
                    <td>@moto.Modelo</td>
                    <td>@moto.Placa</td>
                    <td>@(moto.Alugada ? "Sim" : "Não")</td>
                    <td style="display: flex; width: fit-content;">
                        @Html.ActionLink("Editar", "Edit", new { id = moto.Id, placa = moto.Placa }, new { @class = "btn" })
                        <button class="btn" onclick="deleteMoto('@moto.Id')" style="background: #8a282b; color: #FFF; margin-left: 15px;">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Nenhuma moto encontrada...</h3>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
</script>
